* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.active {
    border-bottom: 4px solid #FFAD31;
}

body {
    overflow-x: hidden;
    user-select: none;
}

#app {
    position: relative;
}

#header {
    display: flex;
    position: fixed;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 57px;
    background-color: #ffefd6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

#header .search {
    display: flex;
    align-items: center;
}

#header .logo a {
    text-decoration: none;
    color: #ffad31;
    font-weight: 540;
    font-size: 32px;
    line-height: 57px;
    padding: 0 16px;
}

#header .search-bar {
    display: flex;
    width: 20vw;
    height: 36px;
    padding: 10px 64px 10px 12px;
    background-color: #fff;
    border-radius: 64px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#nav {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav li {
    margin: 0 32px;
    list-style-type: none;
}

#nav li a {
    text-decoration: none;
    color: #ffad31;
    font-size: 32px;
    font-weight: 540;
}

#user-section {
    display: flex;
}

#user-section li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffad31;
    list-style-type: none;
    margin: 0 16px;
    border-radius: 50%;
}

#content img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#footer {
    position: relative;
    top: 100px
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffdeac;
}

#contact .item {
    width: 306px;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

#contact .item span {
    text-align: center;
    padding: 8px;
}

#socials {
    height: 300px;
    background-color: #ffce83;
}

#socials .title {
    position: relative;
    top: 32px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

#socials .socials-list {
    display: flex;
    width: 400px;
    justify-content: space-around;
    position: relative;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
}

#socials .socials-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px rgba(105, 105, 105, 0.1);
    width: 80px;
    height: 80px;
}

#socials .socials-list li img {
    width: 45px;
    height: 45px;
}

#socials p {
    position: relative;
    top: 100px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% của font-size */
    letter-spacing: -0.48px;
}
